@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@100;200;300;400;500;600;700;900&display=swap');

html{
    overflow-y: scroll;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body{
    font-family: "Nanum Gothic", 돋움, sans-serif;
    font-size: 1em;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
}
.cf:after{
    content: '';
    display: block;
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.hidden{
    display: none;
}

#t_section{
    display: none;
}


#wrap{
    width: 100%;
    position: relative;
    margin: 0 auto;
}
#header{
    width: 1440px;
    margin: 0 auto;
}
#header #nav .sub{
    width: 100%;
    height: auto;
    background-color: white;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    border-bottom: 2px solid red;
    z-index: 100;
    display: none;
}
/* top_menu */
#header #top_menu ul li a{
    display: block;
    padding: 5px 10px;
    font-size: 0.9em;
    transition: all 0.23s ease-in-out;
}
#header #top_menu ul li a:hover{
    color: red;
}

/* logo */
#header > h1 > a{
    display: block;
    width: 300px;
    margin: 0 auto;
}
/* menu */
.mo_nav_open{
    display: none;
}
#mo_nav{
    display: none;
}
#nav{
    width: 100%;
    margin-top: 20px;
}
#nav > ul {
    width: 100%;
    height: 50px;
}
#nav a{
    display: block;
}
#nav > ul >li:first-child{
    margin-left: 15px;
}
#nav > ul >li{
    width: 20%;
    text-align: center;
    margin: 0 auto;
    margin-left: 6.2%;

}
#nav > ul >li > a{
    display: block;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
}
#nav > ul >li > a:hover{
    text-decoration: underline;
    color: red;
}

/* submenu(depth2) */
.depth2{
    width: 95%;
    margin: 0 auto;
    padding-left: 9%;
}
.sub .pd li{
    margin-right: 35px;
}
.depth2 > li{
    float: left;
    width: 15%;
    padding-top: 10px;
    margin-right: 40px;
    margin-bottom: 30px;
}
.depth2 > li:last-child{
    margin-right: 0;
}
.depth2 > li > a{
    width: 100%;
    font-size: 1.1em;
    padding: 5px 0;
    font-weight: 600;
    text-align: left;
    color: #be4a4a;
    border-bottom: 3px solid #be4a4a;
}

.depth2 > li.scailing{
    margin-bottom: 60px;
}
/* submenu(depth3) */
.depth3{
    width: 100%;
    padding: 10px 0;
}
.depth3 li{
    padding: 3px 0;
}
.depth3 li:last-child{
    padding: 0;
}
.depth3 a{
    display: block;
    width: 100%;
    font-size: 0.95em;
    text-align: left;
    line-height: 1.5;
    color: #716C6C;
    transition: all 0.3s;
    letter-spacing: -1.5px;
}
.depth3 a:hover{
    color: #000;
    font-weight: 600;
}

/* now */
.now{
    width: 97%;
    margin: 20px auto;
    text-align: right;
}
.now img{
    vertical-align: middle
}
/* seciton */
#section{
    width: 1440px;
    margin: 10px auto;
}
#section .mo_section_nav{
    display: none;
}
/* left_menu */
#section .left_menu{
    width: 18%;
    margin-left: 10px;
    position: sticky;
    top: 10px;
    background-color: #ffbdbd;
    box-sizing: border-box;
}
#section .left_menu a{
    display: block;
}
#section .left_menu_title{
    width: 100%;
    height: 150px;
    background-color: #be4a4a;
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    line-height: 3;
    box-sizing: border-box;
    padding-top: 15px;
    font-weight: bold;
}
#section .left_menu_depth1{
    width: 100%;
    height: 550px;
}
#section .left_menu_depth1 li a{
    font-size: 1.2em;
    color: #fff;
    padding: 15px 10px;
    background-color: #b4b1b1;
    border-bottom: 1px solid #ffbdbd;
    font-weight: bold;
    transition: all 0.4s;
}
#section .left_menu_depth1 li a:hover{
    background-color: #837b7b;
}

#section .left_menu_depth1 .left_menu_depth2{
    display: none;
}
#section .left_menu_depth1 .left_menu_depth2 a{
    font-size: 1em;
    font-weight: 400;
    background: #ffbdbd;
    color: #413e3e;
    transition: all 0.4s;
    padding: 8px;
}
#section .left_menu_depth1 .left_menu_depth2 a:hover{
    background: none;
    text-decoration: underline;
    color: red;
}

/* main_content */
.main_content{
    margin: 0 10px;
    width: 72%;
    box-sizing: border-box;
}
.main_content button{
    background: linear-gradient(to top, white 0%, rgb(224, 223, 223) 100%);
    background: -webkit-linear-gradient(top, white 0%, rgb(224, 223, 223) 100%);
    background: -moz-linear-gradient(top, white 0%, rgb(224, 223, 223) 100%);
    border: 1px solid #d7d7d7;
    cursor: pointer;
}
.login_title{
    width: 100%;
    border-top: 2px solid #be4a4a;
    border-bottom: 2px solid #be4a4a;
    font-size: 1em;
    text-align: center;
    padding: 25px 0;
}
.login_title p{
    font-family: 'Noto Serif KR', serif;
    font-size: 1.5em;
    margin: 10px;
}

form{
    width: 100%;
}
.id_pw{
    width: 65%;
    float: left;
    padding: 80px 0;
}
.id_pw .id,
.id_pw .pw{
    width: 100%;
    text-align: right;
    margin: 15px 0;
    font-weight: 600;
    font-size: 1.1em;
}
.id_pw .id input,
.id_pw .pw input{
    width: 300px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.id{
    margin-left: 15px;
}
.id label{
    padding-right: 30px;
}
.pw{
    margin-left: 15px;
}
.pw label{
    padding-right: 14px;
}
.check{
    width: 100%;
    text-align: center;
    margin-left: 65px;
    font-size: 1em;
}
.btn{
    float: left;
    line-height: 265px;
}
.btn button{
    padding: 20px;
    font-size: 1.2em;
    margin-left: 50px;
}
.find_join{
    width: 100%;
}
.find_join > div{
    width: 48%;
    float: left;
    border-top: 2px solid #be4a4a;
    padding: 30px 0;
}
.find{
    margin-right: 4%;
}
.find_join > div h3{
    padding: 10px
}
.find_join > div p{
    padding: 10px;
}
.find_join > div button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
/* 오른쪽 메뉴 */
.right_menu {
    width: 120px;
    text-align: center;
    
}

.right_menu>ul {
    border-top: 2px solid red;
}

.right_menu>ul>.right_top {
    padding: 10px 0;
}

.right_menu>ul>.right_top>p {
    padding: 10px 0;
    font-weight: bold;
}

.right_menu>ul>.right_top>p>span {
    color: red;
}

.right_menu ul ul {
    border-top: 2px solid red;
    padding: 10px 0;
    font-size: 0.8em;
}

.right_menu ul ul li {
    line-height: 2;
    margin-bottom: 10px;

}
.right_menu ul ul li a{
    padding: 10px 0;
    color: #951b1b;
}
.right_menu ul ul li a img{
    display: block;
    margin: 0 auto;
}

/* right_menu */
.right_menu{
    width: 6.5%;
    margin-right: 15px;
    text-align: center;
    position: sticky;
    top: 10px;
    float: right;
    box-sizing: border-box;
}

.right_menu_top{
    border-top: 2px solid #be4a4a;
    border-bottom: 2px solid #be4a4a;
    padding: 10px 0;
}
.right_menu_top p{
    padding-bottom: 20px;
    font-weight: bold;
}
.right_menu_top p span{
    color: red;
}
.right_menu_top a{
    display: block;
    margin: 10px 0;
    transition: all 0.4s;
}
.right_menu_top a:hover{
    color: red;
}
.right_menu_bottom li{
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
}
.right_menu_bottom li a{
    font-size: 0.8em;
    letter-spacing: -1px;
    color: #be4a4a;
    font-weight: 600;
}
.right_menu_bottom li a p{
    width: 100%;
}

#footer{
    width: 100%;
    background-color: #be4a4a;
}
#footer #footer_width{
    width: 1220px;
    height: 100px;
    margin: 0 auto;
    background-color: #be4a4a;
}
#footer .b_logo{
    width: 25%;
    height: 65px;
    margin-left: 0%;
    margin-top: 20px;    
    background: url(../Sleader/logo2.png) no-repeat center;
    background-size: cover;
}
#footer .address{
    width: 60%;
    margin-left: 25px;
    height: 50px;
    padding-top: 5px;
    color: #ffffff;
    letter-spacing: -1px;
}
#footer .address .link{
    margin-left: -4px;
 
}
#footer .address .link a{
    display: block;
    color: #ffffff;
    font-size: 0.9em;
}
#footer .address .link a:after{
    content: ' | ';
}
#footer .address .link a:last-child{
    padding-left: 5px
}

#footer .address div{
    font-size: 0.9em;
    padding-top: 13px;
    width: 100%;
    color: #ffffff;
    padding-left: 2%;
}
#footer .address div.copyright{
    padding-top: 0;
    color: #FFBDBD;
    letter-spacing: -1px;
    font-size: 0.8em;
}
#footer .sns{
    width: 17%;
    margin-top: -75px;
    margin-left: 86%;
}
#footer .sns li a{
    display: block;
    margin: 5px;
}
#footer .sns li a img{
    border-radius: 7px;
}